/* -----SELECTORS----- */

/* Universal */
* {
  property: value;
}

/* All h1 tags */
h1 {property: value;}

/* All p and li tags */
p, li {property: value;}

/* All direct children li tags of parent uls */
ul > li {property: value;}

/* Singular element with an id attribute of 'testId' */
#testId {property: value;}

/* All elements with a class attribute of 'testClass' */
.testClass {property: value;}

/* All anchor tags which have NOT been visited/clicked */
a:link {property: value;}

/* All anchor tags which HAVE been visited/clicked */
a:visited {property: value;}

/* All botton tags, only when the mouse is actively positioned over one button */
button:hover {property: value;}

/* -----Demo classes for assignments----- */
.right {
  color: green;
}

.wrong {
  color: red;
}
