body {
  display: block;
}

section {
  text-align: center;

  width: 500px;
    /*min-width: 500px;*/
    /*max-width: 500px;*/

  height: 100px;
    /*min-height: 500px;*/
    /*max-height: 500px;*/

  margin: 2%;

  /*margin: 2% auto;*/

  /*margin: 2% 3% 4% 5%;*/

  /*margin-top: 2%;
  margin-right: auto;
  margin-bottom: 2%;
  margin-left: auto;*/

  padding: 2%;
    /*padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;*/

  border: 2px dotted green;
    /*border-width: 2px;
    border-style: dotted;
    border-color: green;*/
}

section:first-child {
  box-shadow: 10px 10px #aaa;
}

section:last-child {
  box-shadow: -10px -10px #dad;
}
