/* Adobe Kuler Color Pallete #4788F5 #DEE9F4 #2B77C1 #3180C5 #4AADD8*/

body {
  width: 90%;
}

#main_content {
  display: flex;
  flex: row wrap;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 5% auto;
  box-sizing: border-box;
}

.items {
  flex: 1 1 auto;
  margin: 2%;
}


