* {
/* Universal Selector 
    This selects EVERYTHING on the page. Be cautious with this selector.
*/
  font-family: Arial;
  font-size: 14px;
  background-image: url('www.example.com/sam-hamm-i-am.jpg');
}

header {
  /* Type Selector */
  border: 1px dashed orange;
}

h1 {
  /* Type Selectors */
  font-size: 20px;
}

#demo {
  /* ID Selector */
  background-color: gray;
  padding: 2%; /* Apply 2% padding to all sides */
  padding: 2% 1%; /* Apply 2% to top/bottom and 1% to left/right */
  padding: 1% 2% 3% 4%; /* 1% top, 2% right, 3% bottom, 4% left */
  /* Margin and Border work the same way with short-hand values */
  margin: 0 auto;
  color: rgb(100, 32, 255);

}

#izzy {
  width: 200px;
}
